{{> head }}

<body>

    {{> header }}

    {{> navbar }}

    {{#if isHome}}
        <div class="products-breadcrumb">
            <div class="container">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Գլխավոր էջ</a>
                </ul>
            </div>
        </div>
    {{else}}
        <div class="products-breadcrumb">
            <div class="container">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Գլխավոր էջ</a><span>|</span></li>
                    <li style="color: white;">{{title}}</li>
                </ul>
            </div>
        </div>
    {{/if}}

    <div class="banner">
        {{> aside }}

        {{{ body }}}

        <div class="clearfix"></div>
    </div>

    {{#if saleProducts}}
        <div class="top-brands">
            <div class="container">
                <h3>Թեժ ակցիաներ</h3>
                <div class="agile_top_brands_grids">
                    {{#each saleProducts}}
                        <div class="col-sm-3 col-lg-2 w3ls_w3l_banner_left" style="margin-top: 30px;">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                    {{#if is_sale}}
                                        <div class="agile_top_brand_left_grid_pos">
                                            <img src="/images/offer.png" alt=" " class="img-responsive" />
                                        </div>
                                    {{/if}}
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="/product/{{_id}}">
                                                        <img src="/images/products/{{img}}" alt="{{title}}" title="{{title}}" class="img-responsive" />
                                                    </a>
                                                    <p>{{title}}</p>
                                                    {{#if is_sale}}
                                                        <h4>{{new_price}} :դր <span>{{price}} :դր</span></h4>
                                                    {{else}}
                                                        <h4>{{price}} :դր</h4>
                                                    {{/if}}
                                                </div>
                                                <div class="snipcart-details">
                                                    <form action="#" method="post">
                                                        <form action="#" method="post">
                                                            <fieldset>
                                                                <input type="hidden" name="cmd" value="_cart" />
                                                                <input type="hidden" name="add" value="1" />
                                                                <input type="hidden" name="business" value=" " />
                                                                <input type="hidden" name="id" value="{{_id}}" />
                                                                <input type="hidden" name="item_name" value="{{title}}" />
                                                                <input type="hidden" name="img" value="{{img}}" />
                                                                {{#if types}}
                                                                    <input type="hidden" name="type" value="նշված չէ" />
                                                                    <input type="hidden" name="typeId" value="-1" />
                                                                {{/if}}
                                                                <input type="hidden" name="href" value="/product/{{_id}}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <input type="hidden" name="maxCount" value="{{count}}">
                                                                <input type="hidden" name="amount" value="{{#if is_sale}}{{new_price}}{{else}}{{price}}{{/if}}" />
                                                                <input type="hidden" name="basePrice" value="{{#if is_sale}}{{new_price}}{{else}}{{price}}{{/if}}">
                                                                <input type="hidden" name="discount_amount" value="" />
                                                                <input type="hidden" name="currency_code" value="AMD" />
                                                                <input type="hidden" name="return" value=" " />
                                                                <input type="hidden" name="cancel_return" value=" " />
                                                                <input type="submit" name="submit" value="Ավելացնել" class="button" />
                                                            </fieldset>
                                                        </form>
                                                    </form>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#ifAnd isHome topProducts}}
        <div class="fresh-vegetables">
            <div class="container">
                <h3>Թոփ ապրանքներ</h3>
                <div class="w3l_fresh_vegetables_grids">
                    <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                        <div class="w3l_fresh_vegetables_grid2">
                            <ul>
                                {{#each topProducts}}
                                    <li><i class="fa fa-check" aria-hidden="true"></i><a href="/product/{{_id}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                        {{#each topProducts}}
                            <a href="/product/{{_id}}">
                                <div class="col-md-4 w3l_fresh_vegetables_grid" style="margin-bottom: 23px;">
                                    <div class="w3l_fresh_vegetables_grid1" style="overflow: hidden; height: 150px;">
                                        <img src="/images/products/{{img}}" alt="{{title}}" class="img-responsive" style="max-height: 100% !important;"/>
                                    </div>
                                </div>
                            </a>
                        {{/each}}
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    {{/ifAnd}}

    {{#ifAnd isContact about.map_url}}
        <div class="map" style="margin-top: 23px;">
            <iframe src="{{about.map_url}}" style="border:0"></iframe>
        </div>
    {{/ifAnd}}

{{> footer }}