<section class="wrapper">
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                    <h4><i class="fa fa-angle-right"></i> {{title}}</h4>
                    <a class="btn btn-success" style="margin-left: 20px;" href="employees/create">Ավելացնել</a>
                    <hr>
                    <thead>
                    <tr>
                        <th>Նկար</th>
                        <th>Անուն</th>
                        <th>Պաշտոն</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if employees.length}}
                        {{#each employees}}
                            <tr>
                                <td style="width: 400px;">
                                    <img src="/images/employees/{{_id}}.jpg" alt="{{name}}" style="width: 50%;">
                                </td>
                                <td>
                                    <a href="javascript:;">{{name}}</a>
                                </td>
                                <td>{{position}} </td>
                                <td>
                                    <a href="employees/{{_id}}/edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    <a href="employees/{{_id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>