<article class="employees">
    <div class="heading-title">
        <h1>Մեր աշխատակիցները</h1>
    </div>
    {{#if employees.length}}
        {{#each employees}}
            <div class="row employees">
                <div class="col-lg-2 offset-2 photo">
                    <a href="/employees/{{_id}}">
                        <img src="/images/employees/{{_id}}.jpg" alt="" class="shadow">
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="info shadow-lg">
                        <h3>{{name}}</h3>
                        <span>{{position}}</span>
                        <p>{{biography}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
</article>