<div class="w3l_banner_nav_right">
    <div class="agileinfo_single">
        <h5>{{product.title}}</h5>
        <div class="col-md-4 agileinfo_single_left">
            <img id="example" src="/images/products/{{product.img}}" alt=" " class="img-responsive"/>
        </div>
        <div class="col-md-8 agileinfo_single_right">
            <div class="w3agile_description">
                {{#if product.descr}}
                    <h4>Նկարագրություն :</h4>
                    <p>{{product.descr}}</p>
                {{/if}}
            </div>

            <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                    {{#if product.is_sale}}
                        <h4>
                            <strong data-price="{{product.new_price}}" class="price">{{product.new_price}}</strong> :դր
                            <span data-price="{{product.price}}" class="price">{{product.price}}</span> :դր
                        </h4>
                    {{else}}
                        <h4><strong data-price="{{product.price}}" class="price">{{product.price}}</strong> :դր</h4>
                    {{/if}}
                </div>

                {{#if product.types}}
                    <div class="form-group col-sm-2" style="margin-top: 23px;">
                        <select class="form-control" id="types" name="types" style="margin-left: -14px;">
                            {{#each product.types}}
                                <option class="type-option" id="{{@key}}" value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/if}}

                <div class="clearfix"></div>
                <div class="form-group" style="margin-top: 23px;">
                    {{#if product.sale_type}}
                        <label for="count">Հատ: </label>
                    {{else}}
                        <label for="count">Կիլոգրամ։ </label>
                    {{/if}}
                    <input id="count" class="count" type="number" value="1">
                    =
                    <input id="price" class="price" type="number" disabled
                           value="{{#if product.is_sale}}{{product.new_price}}{{else}}{{product.price}}{{/if}}">
                    <label for="price"> ։դրամ</label>
                </div>
                <div class="snipcart-details agileinfo_single_right_details">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="id" value="{{product._id}}" />
                            <input type="hidden" name="item_name" value="{{product.title}}" />
                            <input type="hidden" name="img" value="{{product.img}}" />
                            {{#if product.types}}
                                <input type="hidden" name="type" value="{{product.types.[0]}}" />
                                <input type="hidden" name="typeId" value="0" />
                            {{/if}}
                            <input type="hidden" name="href" value="/product/{{product._id}}" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="maxCount" value="{{product.count}}">
                            <input type="hidden" name="amount" value="{{#if product.is_sale}}{{product.new_price}}{{else}}{{product.price}}{{/if}}" />
                            <input type="hidden" id="base-price" name="basePrice" value="{{#if product.is_sale}}{{product.new_price}}{{else}}{{product.price}}{{/if}}">
                            <input type="hidden" name="discount_amount" value="" />
                            <input type="hidden" name="currency_code" value="AMD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ավելացնել" class="button" style="margin-top: 23px;"/>
                        </fieldset>
                    </form>
                </div>
                <input type="hidden" id="sale-type" value="{{product.sale_type}}">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{#if similar}}
        <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular">
            <div class="container">
                <h3>Ապրանքներ այս բաժնից</h3>
                <div class="w3ls_w3l_banner_nav_right_grid1">
                    {{#each similar}}
                        <div class="col-md-3 w3ls_w3l_banner_left" style="margin-top: 30px;">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                    {{#if is_sale}}
                                        <div class="agile_top_brand_left_grid_pos">
                                            <img src="/images/offer.png" alt=" " class="img-responsive"/>
                                        </div>
                                    {{/if}}
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="/product/{{_id}}">
                                                        <img src="/images/products/{{img}}" alt="{{title}}"
                                                             title="{{title}}" class="img-responsive"/>
                                                    </a>
                                                    <p>{{title}}</p>
                                                    {{#if is_sale}}
                                                        <h4>{{new_price}} :դր <span>{{price}} :դր</span></h4>
                                                    {{else}}
                                                        <h4>{{price}} :դր</h4>
                                                    {{/if}}
                                                </div>
                                                <div class="snipcart-details">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="business" value=" " />
                                                            <input type="hidden" name="id" value="{{_id}}" />
                                                            <input type="hidden" name="item_name" value="{{title}}" />
                                                            <input type="hidden" name="img" value="{{img}}" />
                                                            <input type="hidden" name="href" value="/product/{{_id}}" />
                                                            <input type="hidden" name="quantity" value="1" />
                                                            <input type="hidden" name="maxCount" value="{{count}}">
                                                            <input type="hidden" name="amount" value="{{#if is_sale}}{{new_price}}{{else}}{{price}}{{/if}}" />
                                                            <input type="hidden" name="basePrice" value="{{#if is_sale}}{{new_price}}{{else}}{{price}}{{/if}}">
                                                            <input type="hidden" name="discount_amount" value="" />
                                                            <input type="hidden" name="currency_code" value="AMD" />
                                                            <input type="hidden" name="return" value=" " />
                                                            <input type="hidden" name="cancel_return" value=" " />
                                                            <input type="submit" name="submit" value="Ավելացնել" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {{/if}}
</div>