<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner" style="--bg-url: url(../images/categories/{{img}})">
        <h3>{{title}}</h3>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid">
        <div class="w3ls_w3l_banner_nav_right_grid1">
            {{#if products.docs}}
                {{#each products.docs}}
                    <div class="col-md-3 w3ls_w3l_banner_left" style="margin-top: 30px;">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                {{#if is_sale}}
                                    <div class="agile_top_brand_left_grid_pos">
                                        <img src="/images/offer.png" alt=" " class="img-responsive" />
                                    </div>
                                {{/if}}
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="/product/{{_id}}">
                                                    <img src="/images/products/{{img}}" alt="{{title}}" title="{{title}}" class="img-responsive" />
                                                </a>
                                                <p>{{title}}</p>
                                                {{#if is_sale}}
                                                    <h4>{{new_price}} :դր <span>{{price}} :դր</span></h4>
                                                {{else}}
                                                    <h4>{{price}} :դր</h4>
                                                {{/if}}
                                            </div>
                                            <div class="snipcart-details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart" />
                                                        <input type="hidden" name="add" value="1" />
                                                        <input type="hidden" name="business" value=" " />
                                                        <input type="hidden" name="id" value="{{_id}}" />
                                                        <input type="hidden" name="item_name" value="{{title}}" />
                                                        <input type="hidden" name="img" value="{{img}}" />
                                                        <input type="hidden" name="href" value="/product/{{_id}}" />
                                                        <input type="hidden" name="quantity" value="1" />
                                                        <input type="hidden" name="amount" value="{{#if is_sale}}{{new_price}}{{else}}{{price}}{{/if}}" />
                                                        <input type="hidden" name="discount_amount" value="" />
                                                        <input type="hidden" name="currency_code" value="AMD" />
                                                        <input type="hidden" name="return" value=" " />
                                                        <input type="hidden" name="cancel_return" value=" " />
                                                        <input type="submit" name="submit" value="Ավելացնել" class="button" />
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
            <div class="clearfix"> </div>
        </div>
    </div>
    {{#if products.pagination.display}}
        <div class="grid_3 grid_5">
            <div class="col-md-6">

                <nav>
                    <ul class="pagination pagination-lg">
                        {{#paginate products.pagination type = "middle" limit = "7"}}
                            <li {{#if active}}class="active"{{/if}}><a href="?p={{n}}">{{n}}</a></li>
                        {{/paginate}}
                    </ul>
                </nav>
            </div>
        </div>
    {{/if}}
</div>