<section id="main-content" style="font-size: 18px;">
    <section class="wrapper">
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="invoice-body">
                        <div class="pull-left">
                            <h1>Պատվեր</h1>
                            <address style="font-size: 20px;">
                                <abbr title="address">Հասցե:</abbr>&nbsp;&nbsp;&nbsp;{{order.address}}
                                <br>
                                <abbr title="Phone">Հեռ:</abbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{order.tel}}
                            </address>
                        </div>
                        <div class="pull-right">
                            <h2>{{status}}</h2>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div>
                                    <div class="pull-left"> Ամսաթիվ : </div>
                                    <div class="pull-right" style="font-size: 14px;"> {{order.created_at}} </div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="well well-small green">
                                    <div class="pull-left"> Ընհանուր գումար</div>
                                    <div class="pull-left"> {{order.amount}} ։դրամ </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:60px" class="text-center">Նկար</th>
                                <th class="text-left">Անուն</th>
                                <th style="width:140px" class="text-right">Քանակ</th>
                                <th style="width:90px" class="text-right">Գին</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each order.products}}
                                    <tr>
                                        <td class="text-center">
                                            <img src="/images/products/{{img}}" style="width: 100px">
                                        </td>
                                        <td>{{title}} {{#if type}}({{type}}){{/if}}</td>
                                        <td class="text-right">{{count}}</td>
                                        <td class="text-right">{{amount}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <div class="row">
                            {{#ifEquals  order.status 0}}
                                <a href="/admin/confirm/{{order.id}}" class="btn btn-success">Հաստատել</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/admin/cancel/{{order.id}}" class="btn btn-warning">Չեղարկել</a>
                                &nbsp;&nbsp;&nbsp;
                            {{/ifEquals }}

                            <a href="/admin/print/{{order.id}}" class="btn btn-primary">Տպել</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="/admin/delete/{{order.id}}" class="btn btn-danger">Ձնջել</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>